<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
      <add name="AspNetCoreModuleTest" />
    </modules>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleTest" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\WebApplication29.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess"/>
  </system.webServer>
</configuration>
<!--ProjectGuid: 1CACE125-A0E9-47E5-A1A9-BE561EEFF132-->